/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* base */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #000000;
  color: #FFFFFF;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 1.25rem;
}

/* component */
.p-lg {
  font-size: 1.5rem;
  margin-top: 2.25rem;
}
.text-gray {
  color: #D1D1D1;
}
.text-white {
  color: #FFFFFF;
}
.text-black {
  color: #000000;
}
.text-green {
  color: #00FFA3;
}
.bg-black {
  background-color: #000000;
}
.bg-white {
  background-color: #FFFFFF;
}
.wrap-padding {
  padding: 10rem 19.5rem;
}
.container {
  display: flex;
  justify-content: center;
}
.mt-25 {
  margin-top: 2.5rem;
}
.my-25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.py-45 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.py-60 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.py-100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.link-btn {
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;

  span {
    margin-left: 0.5rem;
  }
}
.card {
  max-width: 19.125rem;
  color: #15161D;
  border: 0.063rem solid #E3E3E3;
  padding: 1rem;
  box-shadow: 0 .25rem .5rem 0 #00000014;

  h3 {
    margin-bottom: .25rem;
  }
}

/* nav */
.nav-wrap {
  ul {
    gap: 3.813rem;
  }
}
/* header */
.header-wrap > .container {
  gap: 1.5rem;
}
.header-content {
  max-width: 39.75rem;
  margin: auto 0;

  h1, .header-btn {
    text-align: right;
  }

  a {
    display: inline-flex;
    align-items: center;
  }
}
/* intro */
.intro-wrap {
  background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true') no-repeat;

  .container,.intro-img  {
    gap: 1.5rem;
  }
}
.intro-text {
  max-width: 32.875rem;
}
.intro-span {
  margin-top: 2rem;

  span {
    margin-right: .5rem;
  }
}
.intro-img {
  display: flex;
}
/* about */
.about-wrap > .container {
  gap: 8.375rem
}
.about-card {
  max-width: 39.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: auto 0;
}
.about-text {
  max-width: 32.875rem;
}
/* contact */
.contact-wrap {
  background: linear-gradient(to bottom,#050014, #01021E 89%);

  .container {
    align-items: center;
  }
  .container > svg {
    margin-left: 1rem;
    margin-right: 5.813rem;
  }
  .container > img {
    margin-left: 1.25rem;

    &:hover {
      filter: drop-shadow(0 0 .5rem #9094ffCC) drop-shadow(0 .25rem .25rem #ffffff4f);
    }
  }
}
/* project */
.project-wrap {
  .container {
    width: 81rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
.project-title {
  width: 46.625rem;
  margin-left: auto;
  
  h2 {
    align-items: left;
  }
}
.project-content {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.project-content-left {
  max-width: 26rem;
}
.project-content-right {
  max-width: 53.5rem;
}
.project-content-main {
  max-width: 53.5rem;
  display: flex;
  gap: 1.5rem;
}
.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  a {
    display: inline-flex;
    align-items: center;
  }
}
.project-content-right-img {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.75rem;
}